<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <script type="text/javascript">
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));  
  </script>
  <div id="app"></div>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>

</html>